.footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 48px;
  padding-top: 0;
  border: 4px solid rgb(200, 238, 243);
}

.icons {
  display: contents;
}

.icons img {
  width: 10%;
}
