.footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid rgb(128, 167, 173);
}

.nav__button {
  padding: 0;
  background: transparent;
  border: none;
  width: 100%;
}
/* nav__button img{
  display: contents;
}*/
