.footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 50px;
  margin-top: 10px;
  border-top: 1px solid rgb(128, 167, 173);
}

.icons {
  display: contents;
  z-index: 2px;
}

.icons img {
  width: 10%;
}
